---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="posts">
  
  <div class="block-left">
    <div class="content">
      <div class="main-info">
        <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo }}"></a>
        <h1>
          {{ site.title }}
        </h1>
        <h2>
          {{ site.description }}
          <p>
            <a class="typeform-share button" href="https://indiaconferences.typeform.com/to/dJRMXi" data-mode="drawer_left" style="display:inline-block;text-decoration:none;background-color:#484850;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:0px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-hide-headers=true data-hide-footer=true data-submit-close-delay="5" target="_blank">Submit Event </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
          </p>
        </h2>
        <p>Scroll down to continue to the list. <br><br> Thoughts of making it better? Lets connect over internet!!!</p>
        
        {% include social-links.html %}
      </div>
    </div>
    <canvas></canvas>
  </div>
  
  <div class="block-right">
    
    <!-- <a href="{{ site.url }}/posts" title="posts" class="posts-menu-icon"></a> -->
    
    <a href="#" title="posts" class="posts-menu-icon"></a>
    
    <span class="posts-link">PAST</span>
    
    <!-- <a title="project" class="projects-menu-icon">
      <span></span>
    </a>
    <span class="projects-link">PROJECTS</span> -->
    
    <div class="content">
      <ul class="posts-list">
        
        {% assign conferences = site.data.conferences | sort: 'start' %}
        
        {% capture now %}{{ site.time | date: '%Y%m%d' | plus: 0 }}{%- endcapture %}
        
        {% for conference in conferences %}
        
        {% capture end %}{{conference.end | date: '%Y%m%d' | plus: 0 }}{% endcapture %}
        
        {% if end >= now %} 
        
        <li>
          <h2>
            <a href="{{ conference.website }}" target="_blank" rel="noopener noreferrer" class="post-title">
              <span>{{ conference.title | markdownify | remove: "<p>" | remove: "</p>" }}</span>
            </a>
            <span class="date">{{ conference.display_date }}</span>
          </h2>
          <p>{{ conference.description | strip_html | truncatewords:10 }}</p>
          <ul class="tags">
            {% if conference.cfp != false %}
            <li><a href="{%  if conference.cfp contains "://" %}{{ conference.cfp }}{% else %}{{ conference.website }}{% endif %}" target="_blank" rel="noopener noreferrer">CFP</a></li>
            {% endif %}
            {% if conference.scholarships != false %}
            <li><a href="{%  if conference.scholarship contains "://" %}{{ conference.scholarthip }}{% else %}{{ conference.website }}{% endif %}" target="_blank" rel="noopener noreferrer">SCHOLARSHIPS</a></li>
            {% endif %}
            {% if conference.childcare != false %}
            <li><a href="{%  if conference.childcare contains "://" %}{{ conference.childcare }}{% else %}{{ conference.website }}{% endif %}" target="_blank" rel="noopener noreferrer">CHILDCARE</a></li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
        {% endfor %}
        
      </ul>
      
    </div>
  </div>
  {% include overlay.html %}
  {% include scripts.html %}
  <script src="{{ site.url }}/assets/js/canvas.js"></script>
</body>
</html>
